
.title{
  text-align: center;
}
input{
  accent-color: #5A7370;
}
.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex;
  padding-left: 10%;
  padding-right: 10%;
}

fieldset{
  width: 24.5%;
  height: 10%;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 10;
  border-radius: 30px;
}
.collapsible{
  text-align: center;
}
.checkboxes{
  text-align: left;
  transition: max-height 0.3s ease-out;
}

fieldset.collapsible .checkboxes {
  display: none; /* Hide the checkboxes by default */
}

fieldset.collapsible.active .checkboxes {
  display: block; /* Show checkboxes when the fieldset is active */
}

h3 {
  cursor: pointer; /* Change cursor to pointer when hovering over legend */
}
