input{
  accent-color: #5A7370;
}
.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex;
  

}

fieldset{
  width: 24.5%;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #8DBABA;
}